/**
 * Common settings
 */
body {
	font-size: small;
	font-family: helvetica, arial, sans-serif;
}

img {
	border: 0;
}

a:link,
a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #222;
}

a:visited {
	color: #666;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #0505ee;
}

hr {
	clear: both;
	color: #0505ee;
	border-top: 1px dashed;
	border-bottom: 0;
}

/**
 * Status line
 */
#statusline {
	font-size: medium;
}

/**
 * Directory listing
 */
#directories {
	float: left;
	clear: both;
	margin: 20px;
}

#directories div {
	float: left;
	width: 250px;
	margin: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 4px;
	background-color: #ddd;
	border: 1px solid;
}
#directories a {
}
#directories span {
	float: right;
}
#directories div.hilited {
	font-weight: bold;
	background-color: #fff;
}
#directories .locked {
	vertical-align: text-top;
}

/**
 * Thumbnails in the browse-mode
 */
#thumbnails {
	font-size: x-small;
	float: left;
	clear: both;
	margin: 20px;
}
#thumbnails div {
	text-align: center;
	float: left;
	width: 220px;
	margin: 15px;
	padding: 10px;
	background-color: #eee;
	border-radius: 8px;
}
#thumbnails img {
	margin-top: 8px;
}

#viewimage {
	text-align: center;
	margin: 5px 5px 30px 5px;
}
#viewimage img {
	border: 15px solid #eee;
	border-radius: 8px;
	margin: 20px;
}
#viewimage span {
	margin-top: 100px;
	padding: 10px;
	border: 8px solid #eee;
	border-radius: 8px;
}

/**
 * Pagination
 */
#paging {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#paging li {
	font-size: medium;
	display: inline;
	list-style-type: none;
	padding-right: 8px;
}
